body{
            background-color: #31c4ed;
            overflow-x: hidden;
            /* background:local; */
            /* padding-left: ; */
        }
        h1{
            color: #fff;
            text-align: center;
            font-size: 52px;
        }
        .right-top{
            position: relative;   
        }
        .bottle{
            position: absolute;
            left: 1290px;
            /* background-color: aqua; */
            border: none;
            border-radius: 100px;
        }
        .left-down{
            position: relative;
            /* pointer-events: none; */
            background: transparent;
            /* display: inline-block; */
            display: block;
        }
        *background{
            pointer-events: none;
        }
        .printer{
            position: absolute;
            right: 1250px;
            padding-top: 280px;   
            background-color: aqua;
            border: none;
            /* pointer-events: auto; */
            transition: transform 0.3s ease;
            background: transparent;


            
        }
        .printer:hover{
            transform: scale(1.07);
        }
        .center{   
            /* overflow: visible; */
            /* position: absolute; */
            padding-left: 290px;    
            padding-bottom: 50px;
            
        }
        .sell, .buy, .make {
            width: 300px;
            height: 300px;
            border-radius: 40px;
            margin: 10px;
            box-sizing: border-box;
            transition: transform 0.3s ease;
        }
        .sell:hover,
        .buy:hover,
        .make:hover {
            transform: scale(1.07);
            
        }

.playstore,.amazon,.book,.ajio,.croma,.upi{
    rotate: 315deg;
    border-radius: 20px;
    box-shadow: 10px 10px 15px  #fff;   
    transition: box-shadow 0.3s ease transform;
    /* margin: 10px; */
    /* margin-bottom: 100px; */
     
}

.playstore,.amazon,.book,.ajio,.croma,.upi,
.dominos,.flipkart,.myntra,.swiggy,.pvr,.zepto{
    width: 370px;
    height: 205px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #fff;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}




.dominos,.flipkart,.myntra,.swiggy,.pvr,.zepto{
    rotate: -45deg;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  #fff;
}

.playstore:hover,.amazon:hover,.book:hover,.ajio:hover,
.croma:hover,.upi:hover{
    transform:  scale(1.05);
}

.dominos:hover,.flipkart:hover,.myntra:hover,
.swiggy:hover,.pvr:hover,.zepto:hover{
    transform:  scale(1.05);
}





.c1{
    padding-top: 150px;
    padding-bottom: 150px;
}

.c2 img{
    border-radius: 70px;
    align-items: center;
    transition: transform 0.3s ease;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.c2 img:hover{
    transform: scale(1.05);
}

h3{
    display: inline-block;
    color: #fff;
}
